.product
  a(href=item.href)
    .product__img
      img(src='../img/product-img'+index+'.png')
    .product__special-icon
      div(id=item.specialState)
        span=item.specialStateText
    .product__title=item.title
    .product__price=item.price
  .product__button
    .button  
      a(href="#") заказать